<body>
  <!-- Sidenav -->
  <% include ./partials/sidebar %>
  <!-- Main content -->
  <% include ./partials/navbar %>

 <div class="main-panel">
  <div class="content">
   <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-head-row">
                                        <div class="card-title">Deposit into your wallet</div>                                        
                                    </div>
                                </div>
                                <div class="card-body"> 
                                                                                          
<div id="pay_cont" class="col-lg-6 mt-5">
  <div class="payment_method" align="center">
    <p>


    <i class="fab fa-cc-paypal fa-4x text-info"></i> <br>
        </p>
        <p>
         Pay using Paypal payment gateway
                   </p>
               <div align="">
          <a href="" class="btn btn_blue">Pay with Paypal</a>
             </div>


</div>
</div>

<div id="pay_cont" class="col-lg-6 mt-5">
  <div class="payment_method" align="center">
    <p>


    <i class="fab fa-bitcoin fa-4x text-info"></i> <br>
        </p>
        <p>
         Pay using Bitcoin
                   </p>
               <div align="">
          <a href="" class="btn btn_blue">Pay with Bitcoin</a>
             </div>
</div>
</div>
</body>

